body {
    font-family: "Ubuntu", serif;
}

ul {
    list-style-type: none;
    padding: 3;
}

li{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    width: fit-content;
}

a{
    color: #333;
    text-decoration: none;
}

li:hover{
    background-color: #adacac;
    
}

i {
    margin-right: 10px;
    font-size: 24px;
}

.fa-facebook{
    color: #3b5998;
}

.fa-x-twitter{
    color: #050505;
}

.fa-instagram{
    color: #c13584;
}

.fa-envelope{
    color: #4c4c4c;
}

.fa-github{
    color: #772648;
}